frontend:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-frontend:latest
  
  envVars:
    BASE_URL: "http://localhost/"

  ingress:
    ingressClassName: kong
    host: null

authAPI:
  containers:
    image: jdvincent/pyprodigy-auth:latest

usersAPI:
  containers:
    image: jdvincent/pyprodigy-users:latest

  envVars:
    POSTGRES_HOST: postgres1
    POSTGRES_PORT: "5432"
    POSTGRES_DB: users_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

labsAPI:
  containers:
    image: jdvincent/pyprodigy-lessons:latest
  
  envVars:
    POSTGRES_HOST: postgres2
    POSTGRES_PORT: "5432"
    POSTGRES_DB: lessons_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

videoAPI:
  containers:
    image: jdvincent/pyprodigy-video:latest

  envVars:
    MONGO_HOST: mongo
    MONGO_PORT: "27017"

computeAPI:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-compute:latest

postgres1:
  envVars:
    POSTGRES_DB: users_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres

postgres2:
  envVars:
    POSTGRES_DB: lessons_db
    POSTGRES_USER: postgres
    POSTGRES_PASSWORD: postgres
