frontend:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-frontend:latest
  
  envVars:
    BASE_URL: "http://localhost/"

  ingress:
    ingressClassName: kong
    host: null

orgsAPI:
  containers:
    image: jdvincent/pyprodigy-users:latest

  envVars:
    MONGO_HOST: mongo
    MONGO_PORT: "27017"

labsAPI:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-labs:latest
  
  envVars:
    MONGO_HOST: mongo
    MONGO_PORT: "27017"

videoAPI:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-video:latest

  envVars:
    MONGO_HOST: mongo
    MONGO_PORT: "27017"

computeAPI:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-compute:latest

garbageCollector:
  containers:
    image: jdvincent/pyprodigy-lab-thingy-garbage-collector:latest
